/ welcome
- unless @current_accounts.any?
  = render "welcome"

/ sharing
= render partial: "accounts/sharing"

.columns
  / dashboard
  .column
    article.panel.is-info
      .panel-heading = t(".transaction_summary")
      #transactions-summary
        = render partial: "transactions_summary"

  / upcoming terms
  .column
    article.panel.is-info
      .panel-heading = t(".upcoming_terms")
      #upcoming-terms
        = render partial: "upcoming_terms"
