= form_with(model: @user, class: "box") do |form|
  - if @current_user
    .content.has-text-centered
      = icon_text("fa-solid fa-user-plus", title)
      hr
  - else
    .content.has-text-centered
      = image_tag "_icon.svg"
    .tabs.is-fullwidth
      ul
        li = link_to icon_text("fa-solid fa-right-to-bracket", login), login_path
        li.is-active = link_to icon_text("fa-solid fa-user-plus", create_user), new_user_path
  / email
  .field
    = form.label :email, t(".email"), class: "label"
    .control.has-icons-left
      = form.email_field :email, class: input_class_for(@user, :email), placeholder: t(".email"), autofocus: true
      span.icon.is-left = icon("fa-solid fa-envelope")
    p.help = t(".speech_mail")
    - @user.errors.full_messages_for(:email).each do |message|
      p.help.is-danger = message
  / name
  - if params[:action] == "edit" or params[:action] == "update"
    .field
      = form.label :email, t(".name"), class: "label"
      .control.has-icons-left
        = form.text_field :name, class: input_class_for(@user, :name), placeholder: t(".name"), autofocus: true
        span.icon.is-left = icon("fa-solid fa-envelope")
      p.help = t(".speech_name")
      - @user.errors.full_messages_for(:name).each do |message|
        p.help.is-danger = message
  / password
  .field
    = form.label :password, t(".password"), class: "label"
    .control.has-icons-left
      = form.password_field :password, class: input_class_for(@user, :password), placeholder: t(".password")
      span.icon.is-left = icon("fa-solid fa-lock")
      - @user.errors.full_messages_for(:password).each do |message|
        p.help.is-danger = message
  / password confirmation
  .field
    = form.label :password_confirmation, t(".password_confirmation"), class: "label"
    .control.has-icons-left
      = form.password_field :password_confirmation, class: input_class_for(@user, :password_confirmation), placeholder: t(".password_confirmation")
      span.icon.is-left = icon("fa-solid fa-lock")
      - @user.errors.full_messages_for(:password_confirmation).each do |message|
        p.help.is-danger = message
  / GDPR
  .field
    p.help = t(".speech_gdpr", link: gdpr_path).html_safe
  / login/update button
  .mt-5
    = form.submit class: "button is-success is-fullwidth"
