.columns.is-centered
  .column.is-narrow
    = render partial: "form", locals: { title: t(".edit_user") }

.columns.is-centered data-controller="layout user"
  .column.is-5
    .box
      .content.has-text-centered.has-text-danger
        = icon_text("fa-solid fa-bomb", t(".title_delete_account"))
      hr
      .content.has-text-justified
        p = t(".speech_delete_account")
      .content.has-text-centered
        = button_tag t(".launch_delete_account"), class: "button is-warning", data: { action: "layout#showModal" }

  / modal of the death ☠️
  .modal data-layout-target="modal" data-action="keydown.esc@window->layout#hideModal"
    .modal-background
    .modal-card
      header.modal-card-head
        p.modal-card-title.is-size-6-mobile = t(".are_you_sure")
        a.delete data-action="layout#hideModal"
      section.modal-card-body
        .content
          p = t(".speech_explain_delete_account")
          table.table
            tbody
              tr
                th = icon_text("fa-solid fa-book", t(".accounts"))
                th = @nof_accounts
              tr
                th = icon_text("fa-solid fa-tags", t(".categories"))
                th = @nof_categories
              tr
                th = icon_text("fa-regular fa-calendar-days", t(".schedules"))
                th = @nof_schedules
              tr
                th = icon_text("fa-solid fa-magnifying-glass", t(".searches"))
                th = @nof_searches
              tr
                th = icon_text("fa-regular fa-credit-card", t(".transactions"))
                th = @nof_transactions
        .field
          .control
            label.checkbox
              input type="checkbox" data-user-target="checkboxOfTheDeath" data-action="user#toggleDeleteButton"
              = " " + t(".speech_irreversible_choice")
      footer.modal-card-foot
        button.button.is-success.is-responsive data-action="layout#hideModal" = t(".close")
        = button_to t(".title_delete_account"),
                    user_path,
                    method: :delete,
                    class: "button is-danger is-responsive",
                    disabled: true,
                    form_class: nil,
                    data: { user_target: "buttonOfTheDeath" }
