= breadcrumb link_to(@current_account.name, account_schedules_path(@current_account)),
             link_to(t(".edit_schedule"), edit_schedule_path(@schedule))

.columns.is-centered
  .column.is-narrow
      = render partial: "form", locals: { title: t(".edit_schedule") }
