= breadcrumb link_to(@current_account.name, account_schedules_path(@current_account)),
             link_to(t(".create_schedule"), new_account_schedule_path)

.columns.is-centered
  .column.is-narrow
      = render partial: "form", locals: { title: t(".create_schedule") }
