@charset "utf-8";

$card-bg-color: #f7f7f7;
$card-header-background-color: $card-bg-color;
$card-footer-background-color: $card-bg-color;

// ~ tell webpack that this is not a relative import
@import 'bulma/bulma';
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';

@import '../stylesheets/dashboard.css.scss';

// never cut off certain spaces
.nowrap {
  white-space: nowrap;
}

// magic transformation for tables
@media (max-width: 768px) {
  #magic-table td::before { content: attr(data-title); }
  #magic-table table,
  #magic-table thead,
  #magic-table tbody,
  #magic-table th,
  #magic-table td,
  #magic-table tr { display: block; }

  #magic-table thead tr {
    display:none;
  }

  #magic-table td::before {
    position: absolute;
    left: 5px;
    width: 35%;
    padding-right: 15px;
    height: 100%;
    white-space: nowrap;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
  }

  // hide row if there is no data to display
  #magic-table td:empty {
    display: none;
  }

  #magic-table td {
    position: relative;
    border: 0px solid transparent;
    padding-left: 35% !important;
    white-space: normal;
  }

  #magic-table .dotted-top {
    border-top: 1px dotted gray;
    margin-right: 0;
    padding-top: 0.5em;
  }

  #magic-table #listing > tr > td {
    text-align: unset !important;
  }
}
