<nav aria-label="breadcrumbs" class="breadcrumb has-succeeds-separator">
  <ul>
    <li>
      <%= link_to icon("fa-solid fa-house"), dashboard_path %>
    </li>
    <li class="is-active">
      <%= link_to t(".title"), terms_path %>
    </li>
  </ul>
</nav>
<div class="column is-10 is-offset-1">
  <div class="content">
    <p>
      <%= t(".speech").html_safe %>
    </p>
  </div>
</div>
