= form_with(model: shallow_args(@current_user, @search), class: "box", data: { controller: "search" }) do |form|
  .content.has-text-centered
    = icon_text("fa-solid fa-magnifying-glass", title)
    hr

  / accounts
  .field
    = form.label :accounts, t(".accounts"), class: "label"
    .control
      .select.is-multiple.is-fullwidth
        = form.select :accounts,
                      options_from_collection_for_select(@accounts_with_categories, :id, :name, @accounts_with_categories.ids),
                      { include_hidden: false },
                      { multiple: true, size: 3, data: { action: "search#toggleCategoriesLists", search_target: "accounts" } }

  / accounts
  .field
    = form.label :amount, t(".amount"), class: "label"
    .field.has-addons
      .control.is-expanded
        = form.text_field :min, class: "input", placeholder: t(".amount")
      .control
        .button.is-static = icon("fa-solid fa-left-right")
      .control.is-expanded
        = form.text_field :max, class: "input", placeholder: t(".amount")
      .control
        .button.is-static = t("number.currency.format.unit")

  / date
  .field
    = form.label :date, t(".date"), class: "label"
    .field.has-addons
      .control.is-expanded
        = form.date_field :after, class: "input", placeholder: t(".date")
      .control
        .button.is-static = icon("fa-solid fa-left-right")
      .control.is-expanded
        = form.date_field :before, class: "input", placeholder: t(".date")
      .control
        .button.is-static = icon "fa-regular fa-calendar-days"

  / categories
  .field
    = form.label :categories, t(".categories"), class: "label"
    - @current_accounts.each do |account|
      - if account.categories.exists?
        div id="categories_for_#{account.id}"
          p.help = account.name
          .control
            .select.is-multiple.is-fullwidth
              = form.select :categories,
                            options_from_collection_for_select(account.categories.order_by_name, :id, :name, account.categories.ids),
                            { include_hidden: false },
                            { multiple: true, size: 3 }

  / comment
  .field
    = form.label :comment, t(".comment"), class: "label"
    .field.has-addons
      .control
        span.select
          = form.select :operator,
                        options_for_select(Search.operators.keys.map { |key| [t(".#{key}"), key] } ),
                        {},
                        data: { action: "search#toggleCommentField", search_target: "commentScope" }
      .control.is-expanded
        = form.text_field :comment, class: "input", placeholder: t(".comment"), data: { search_target: "commentField" }

  / checked
  .field
    = form.label :checked, t(".checked"), class: "label"
    .control
      - Search.checkeds.each do |key, value|
        label.radio
          = form.radio_button :checked, key, checked: (value == 0 ? true : false)
          = " " + t(".#{key}")

  / search button
  .mt-5
    = form.submit  t(".search"), class: "button is-success is-fullwidth"