/ header
h2.title.mb-0 = t(".result")

/ resume
.column
  .card
    .card-content = render partial: "resume", locals: { search: @search }

/ Infos
.columns.is-gapless
  / transaction's sum
  .column.is-narrow
    p.tags.has-addon
      .tag = t(".sum")
      = render partial: "searches/sums", locals: { id_name: "amount", number: number_to_currency(@sum_transactions) }

  / spacing
  .column

  / transaction's count
  .column.is-narrow
    p.tags.has-addon
      .tag = t(".count")
      = render partial: "searches/sums", locals: { id_name: "no", number: @nb_transactions }

/ table
table.table.is-fullwidth.is-striped#magic-table
  thead
    tr
      th
      th = t(".account")
      th = t(".date")
      th = t(".category")
      th.has-text-right = t(".debit")
      th.has-text-right = t(".credit")
      th = t(".comment")
      th

  tbody#listing
    = render partial: "transaction", locals: { transactions: @transactions,
                                               account:      t(".account"),
                                               date:         t(".date"),
                                               category:     t(".category"),
                                               debit:        t(".debit"),
                                               credit:       t(".credit"),
                                               comment:      t(".comment") }

/ More transactions
- if @nb_transactions > @limit
  = turbo_frame_tag "items", src: search_path(offset: @limit, format: :turbo_stream), loading: "lazy"
