= form_with(model: shallow_args(@current_account, @category), class: "box") do |form|
  .content.has-text-centered
    = icon_text("fa-solid fa-tags", title)
    hr

  / name
  .field
    = form.label :name, t(".name"), class: "label"
    .control.has-icons-left
      = form.text_field :name, class: input_class_for(@category, :name), placeholder: t(".name")
      span.icon.is-left = icon("fa-solid fa-quote-left")
      - @category.errors.full_messages_for(:name).each do |message|
        p.help.is-danger = message

  / hidden
  .field
    = form.label :hidden, t(".hidden"), class: "checkbox" do
      = form.check_box :hidden
      = " " + t(".hidden")

  / submit button
  .mt-5
    = form.submit class: "button is-success is-fullwidth"
