= breadcrumb link_to(@current_account.name, account_categories_path(@current_account)),
              link_to(t(".create_category"), new_account_category_path)

.columns.is-centered
  .column.is-narrow
      = render partial: "form", locals: { title: t(".create_category") }
