= favicon_pack_tag "media/images/apple-touch-icon.png", rel: "apple-touch-icon", sizes: "180x180"
= favicon_pack_tag "media/images/favicon-32x32.png", rel: "icon", type: "image/png"
= favicon_pack_tag "media/images/favicon-16x16.png", rel: "icon", type: "image/png"
/ = favicon_link_tag asset_path("manifest.json"), rel: "manifest", type: nil
= favicon_pack_tag "media/images/safari-pinned-tab.svg", rel: "mask-icon", color: "#bf3060"
= favicon_pack_tag "media/images/favicon.ico", rel: "shortcut icon", type: "image/x-icon"
meta name="msapplication-TileColor" content="#bf3060"
/ meta name="msapplication-config" content="#{asset_path("browserconfig.xml")}"
meta name="theme-color" content="#bf3060"
