- unless @pendings.nil?
  - @pendings.each do | pending |
    .message.is-info
      .message-body
        .columns.is-vcentered
          .column
            = t(".join_shared_account", account: pending.account.name, users: show_other_users(pending.account)).html_safe
          .column.is-narrow
            = link_to icon_text("fa-regular fa-thumbs-up", t(".accept")), sharing_path(pending.account), method: :post, class: "button is-success"
          .column.is-narrow
            = link_to icon_text("fa-regular fa-circle-xmark", t(".reject")), unsharing_path(pending.account), method: :delete, class: "button is-danger"