= breadcrumb link_to(t(".accounts"), accounts_path),
             link_to(t(".edit_account"), edit_account_path(@account))

.columns.is-centered
  .column.is-narrow
    = render partial: "form", locals: { title: t(".edit_account") }
