= breadcrumb link_to(t(".accounts"), accounts_path),
             link_to(t(".create_account"), new_account_path)

.columns.is-centered
  .column.is-narrow
    = render partial: "form", locals: { title: t(".create_account") }
