<%= breadcrumb link_to(t(".accounts"), accounts_path),
               link_to(t(".create_account"), new_account_path) %>
<div class="columns is-centered">
  <div class="column is-narrow">
    <%= render partial: "form", locals: { title: t(".create_account") } %>
  </div>
</div>
